@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "reset.scss";

body {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  line-height: 156%;
}

h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12.5rem;
  line-height: 100%;
}

h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 4.25rem;
}

h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 1.125rem;
}

h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 156%;
}

h6 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 187%;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/content/bg-image-daytime.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.quote-container {
  width: 575px;
  padding-top: 56px;
  margin-left: 165px;

  #author {
    padding-top: 13px;
  }
}

.time-container {
  margin-left: 165px;
  margin-top: 233px;

  #greeting {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    display: flex;
    align-items: flex-end;
    letter-spacing: 4px;
    text-transform: uppercase;

    img {
      padding-right: 1rem;
    }
  }

  #time {
    display: flex;
    align-items: flex-end;

    p {
      text-transform: uppercase;
      font-family: Inter;
      font-style: normal;
      font-weight: 300;
      font-size: 40px;
      line-height: 28px;
    }
  }

  #location {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    display: flex;
    align-items: flex-end;
    letter-spacing: 4.8px;
    text-transform: uppercase;
  }
}
