@use '_reset';
@import "_breakpoints";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  line-height: 156%;
}

h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12.5rem;
  line-height: 100%;
  @include media("<=900px") {
    font-size: 9.5rem;
  }
  @include media("<=550px") {
    font-size: 7.5rem;
  }
}

h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 4.25rem;
}

h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 1.125rem;
}

h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 156%;
}

h6 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 187%;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/content/bg-image-daytime.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include media(">=tablet", "<=900px") {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("./images/content/tablet/bg-image-daytime.jpg") no-repeat cover;
  }
}

.quote-container {
  width: 575px;
  padding-top: 56px;
  margin-left: 165px;

  #author {
    padding-top: 13px;
  }

  @include media("<=900px") {
    width: 75%;
    margin-left: 75px;
  }
}

.time-container {
  margin-left: 165px;
  margin-top: 233px;

  #greeting {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 28px;
    /* identical to box height, or 140% */
    display: flex;
    align-items: flex-end;
    letter-spacing: 4px;
    text-transform: uppercase;

    img {
      padding-right: 1rem;
    }
  }

  #time {
    display: flex;
    align-items: flex-end;

    p {
      text-transform: uppercase;
      font-family: Inter;
      font-style: normal;
      font-weight: 300;
      font-size: 2rem;
      line-height: 28px;
      padding-bottom: 1rem;
    }
  }

  #location {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    display: flex;
    align-items: flex-end;
    letter-spacing: 4.8px;
    text-transform: uppercase;
  }

  @include media("<=900px") {
    margin-left: 75px;
    max-width: 75%;
  }

  @include media("<=600px") {
    margin-left: 50px;
    max-width: 95%;
  }
}

.btn {
  display: flex;

  button {
    display: flex;
    background: #ffffff;
    border-radius: 28px;
    border: none;

    p {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 28px;
      /* identical to box height, or 175% */
      display: flex;
      align-items: flex-end;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: #000000;
      mix-blend-mode: normal;
      opacity: 0.5;
      padding: 15px 13px 13px 13px;
    }
    img {
      width: 40px;
      height: 40px;
      margin: 8px;
      transform: rotate(180deg);
    }
  }
}

.bottom-container {
  background: rgba(255, 255, 255, 0.75);
  //backdrop-filter: blur(40.7742px);
}
